<div class="container">
    <div class="row">
        <div class="col-mod-6 offset">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="/diary/update/{{diary.id}}" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="mb-3">
                            <label for="textarea" class="form-label">Edit text</label>
                            <textarea class="form-control" id="textarea" name="text" rows="4"></textarea>
                        </div>
                        {{#if diary.imageUrl}}
                        <img src="{{diary.imageUrl}}">
                        {{/if}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>