<main>
        <h1>Users list</h1>
        {{#if user}}
        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar.png" >
            <div class="container">
                <h4><b>Name: {{user.username}}</b></h4>
                <p>Age: {{user.age}} </p>
            </div>
        </div>
        {{else}}
        <p>Userlarni barcha listi... </p>
        {{/if}}
    </main>