<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-item-list">
                <li class="header-item"><a href="/">Bosh Sahifa</a></li>
                <li class="header-item"><a href="/add-user">Add users</a></li>
            </ul>
        </nav>
    </header>
    <h1>404 Page not found</h1>
</body>
</html>