<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-item-list">
                <li class="header-item"><a href="/">Bosh Sahifa</a></li>
                <li class="header-item"><a href="/add-user">Add users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Users list</h1>
        <p>Userlarni barcha listi... </p>
    </main>
</body>
</html>