<header class="header">
    <nav class="header-nav">
        <ul class="header-item-list">
            <li class="header-item"><a href="/">Bosh Sahifa</a></li>
            <li class="header-item"><a href="/user/add-user">Add users</a></li>
        </ul>
    </nav>
</header>